{% extends "app.html.twig" %}

{% set title = '記事詳細' %}

{% block content %}
  <h1>記事詳細</h1>
  {{article.detailArr.title}}
  {% if article.detailArr.image != '' %}
    <img src="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}backend/images/upload/{{article.detailArr.image}}" width="255" height="143" alt="{{article.detailArr.image}}" />
  {% endif %}
  {{article.detailArr.content}}
  {{article.detailArr.last_name}}
  {{article.detailArr.first_name}}
  {{article.detailArr.created_at}}
  <a href="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}">トップページ</a>
  {% if article.detailArr.user_id == session.user_id %}
    <a href="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}backend/edit.php?article_id={{article.detailArr.id}}">[編集]</a>
    <form method="post" action="list.php">
      <input type="hidden" name="article_id" value="{{article.detailArr.id}}">
      <button type="submit" name="delete" value="delete">削除</button>
    </form>
  {% endif %}
{% endblock %}
