{% extends "app.html.twig" %}

{% set title = '記事一覧' %}

{% block content %}

<div class="container">
  <div class="row">

    {# サクセスメッセージを表示 #}
    {% if success_message | length > 0 %}
      <div class="col-12">
        <div class="my-2 alert alert-primary" role="alert">
          {{success_message}}
        </div>
      </div>
    {% endif %}

    {% for article in article.listArr %}
      <div class="col-4 my-2">

        {# 画像 #}
        {% if article.image == '' %}
          <a href="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}detail.php?article_id={{article.id}}">
            <img src="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}images/no_image.jpg" width="255" height="143" alt="{{article.image}}" />
          </a>
        {% else %}
          <a href="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}detail.php?article_id={{article.id}}">
            <img src="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}images/upload/{{article.image}}" width="255" height="143" alt="{{article.image}}" />
          </a>
        {% endif %}

      </div>
      <div class="col-8 my-2">

        {# タイトル #}
        <div>
          <h3><a href="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}detail.php?article_id={{article.id}}" class="text-secondary">{{article.title}}</a></h3>
        </div>

        {# 投稿者名 #}
        <div>
          {% if article.delete_flg == 0 %}
            投稿者名：{{article.last_name}}&nbsp;{{article.first_name}}
          {% else %}
            退会済みユーザー
          {% endif %}
        </div>

        {# 作成日時 #}
        <div>
          作成日時:{{article.created_at}}
        </div>

        {# 編集ボタン #}
        {% if article.user_id == session.user_id %}
          <button type="button" class="btn btn-primary" onclick="location.href='{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}edit.php?article_id={{article.id}}'">編集</button>
        {% endif %}

        {# 削除ボタン #}
        {% if article.user_id == session.user_id or user_info.admin == 1 %}
          <form method="post" action="">
            <input type="hidden" name="article_id" value="{{article.id}}">
            <button type="submit" class="btn btn-danger" name="delete" value="delete" onclick="return clickDelete()">削除</button>
          </form>
        {% endif %}
      </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
