<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
  <h1>トップページ</h1>
  {% if session.res == true %}
    <form method="post" action="">
      <button type="submit" name="logout" value="logout">ログアウト</button>
    </form>
  {% else %}
    <a href="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}backend/regist.php">アカウント登録</a><br>
    <a href="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}backend/login.php">ログイン</a><br><br>
  {% endif %}

  {% if success_message | length > 0 %}{{success_message}}{% endif %}
  {% if error_message | length > 0 %}{{error_message}}{% endif %}

  <h3>記事一覧</h3>
  {% for article in articleArr %}
    ID:{{article.id}}
    画像:{{article.image}}
    タイトル:{{varticletitle}}
    詳細:{{article.content}}
    ユーザーID:{{article.user_id}}
    作成日:{{article.created_at}}
    更新日:{{article.updated_at}}
    <br>
  {% endfor %}
</body>
</html>
