{% extends "app.html.twig" %}

{% set title = 'ログイン' %}

{% block content %}
  {% if success_message | length > 0 %}{{success_message}}{% endif %}
  {% if error_message | length > 0 %}{{error_message}}{% endif %}

  <form method="post" action="list.php">
    <div>
      <label for="email">メールアドレス</label>
      <input type="email" id="email" name="email" value="{{loginArr.email}}">
    </div>
    {% if loginErrArr.email | length > 0 %}{{loginErrArr.email}}{% endif %}
    <div>
      <label for="password">パスワード</label>
      <input type="password" id="password" name="password" value="{{loginArr.password}}">
    </div>
    {% if loginErrArr.password | length > 0 %}{{loginErrArr.password}}{% endif %}
    {% if loginErrArr.authentication | length > 0 %}{{loginErrArr.authentication}}{% endif %}
    <div>
      <button type="submit" name="login" value="login">ログイン</button>
    </div>
  </form>

  <p>
    ユーザー登録は<a href="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}regist.php">こちら</a>
  </p>
{% endblock %}
