{% extends "app.html.twig" %}

{% set title = 'ユーザー一覧' %}

{% block content %}

  {# サクセスメッセージを表示 #}
  {% if success_message | length > 0 %}
    <div class="m-2 alert alert-primary" role="alert">
      <i class="fa-solid fa-circle-check"></i>{{success_message}}
    </div>
  {% endif %}

  <table class="table table-striped table-bordered text-center mb-0">
    <tr>
      <th rowspan="2" class="th-height">ID</th>
      <th rowspan="2" class="th-height">名前</th>
      <th rowspan="2" class="th-height">メールアドレス</th>
      <th colspan="2">ユーザー種別</th>
      <th colspan="2">ステータス</th>
      <th rowspan="2" class="th-height">更新</th>
    </tr>
    <tr>
      <th>通常</th>
      <th>管理者</th>
      <th>有効</th>
      <th>無効</th>
    </tr>
    {% for num, user in user_list %}
      <form method="post" action="">
        <tr {% if user.id == session.user_id %}class="active-recode"{% endif %}>
          <td>{{user.id}}</td>
          <td>{{user.last_name}} {{user.first_name}}</td>
          <td>{{user.email}}</td>
          <td>
            <input type="radio" name="admin_{{user.id}}" value="0" {% if user.admin == 0 %}checked{% endif %}>
          </td>
          <td>
            <input type="radio" name="admin_{{user.id}}" value="1" {% if user.admin == 1 %}checked{% endif %}>
          </td>
          <td>
            <input type="radio" name="delete_flg_{{user.id}}" value="0" {% if user.delete_flg == 0 %}checked{% endif %}>
          </td>
          <td>
            <input type="radio" name="delete_flg_{{user.id}}" value="1" {% if user.delete_flg == 1 %}checked{% endif %}>
          </td>
          <input type="hidden" name="user_id" value={{user.id}}>
          <input type="hidden" name="num" value={{num}}>
          <td>
            <button type="submit" name="update" value="update">更新</button>
          </td>
        </tr>
      </form>
    {% endfor %}
  </table>


{% endblock %}
